# Note: IT IS IMPORTANT THAT EVEN COMMENTED OUT OPTIONS BE HERE
#       AS ct-ng USES BOTH WHAT IS AND IS NOT COMMENTED

# Paths
CT_WORK_DIR="${CT_TOP_DIR}/crossBuild"
CT_BUILD_TOP_DIR="${CT_WORK_DIR}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_PREFIX_DIR="/Volumes/CrossToolNGBase/x-tools/${CT_TARGET}"
CT_INSTALL_DIR="${CT_PREFIX_DIR}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_REMOVE_DOCS is not set
# CT_INSTALL_DIR_RO is not set
# CT_PREFIX_DIR_RO is not set

# CT_FORCE_SYSROOT is not set
# CT_USE_SYSROOT is not set
# CT_SYSROOT_NAME is not set
# CT_SYSROOT_DIR_PREFIX is not set

# Compiler options
CT_ARCH_ARM=y
CT_ARCH="arm"
CT_ARCH_CPU="cortex-a53"
# CT_ARCH_SUFFIX is not set
CT_ARCH_FPU="neon-vfpv4"
CT_ARCH_FLOAT_HW=y
CT_TARGET_VENDOR="rpi3"
CT_KERNEL_LINUX=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_COMP_LIBS_LIBELF=y
CT_COMP_LIBS_ZLIB=y
CT_COMP_LIBS_LIBICONV=y
CT_COMP_LIBS_MPC=y
CT_COMP_LIBS_MPFR=y
CT_COMP_LIBS_NCURSES=y
#
# Companion tools
#
# CT_CC_SUPPORT_ADA is not set
# CT_CC_SUPPORT_GOLANG is not set
# CT_CC_SUPPORT_OBJC is not set
# CT_CC_SUPPORT_GOLANG is not set

# Behaviours
# CT_VERIFY_DOWNLOAD_DIGEST is not set
CT_SAVE_TARBALLS=y
CT_LOCAL_TARBALLS_DIR="/Volumes/CrossToolNGBase/sources"
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
# CT_DEBUG_CT_SAVE_STEPS_GZIP is not set

# Compiler
# Version 8 changes the default C++ standard is now -std=gnu++14
# As of yet, no way to get around this.  one battle at a time please
# CT_GCC_V_8_1_0 is not set
CT_GCC_V_7_3_0=y
CT_GCC_VERSION="7.3.0"
CT_GCC_later_than_7=y

# Debug facilities - We don't need any debuggers We don't need any debuggers
#
# CT_DEBUG_DUMA is not set
# CT_DEBUG_GDB is not set
# CT_DEBUG_LTRACE is not set
# CT_DEBUG_STRACE is not set
